
.grid-container{
  width: 100%; 
  max-width: 960px;      
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='col-'] {
  float: left; 
  min-height: 1px; 
  width: 12%;
  /*-- our gutter -- */
  padding: 2px; 
  background-color: #FFDCDC;
}

.col-1{ width: 12%; }
.col-2{ width: 24%; }
.col-3{ width: 36%; }
.col-4{ width: 48%; }
.col-5{ width: 60%; }
.col-6{ width: 72%; }
.col-7{ width: 84%; }
.col-8{ width: 96%; }

.outline, .outline *{
  outline: 1px solid #F6A1A1; 
}

/*-- some extra column content styling --*/
[class*='col-'] > p {
/* background-color: #FFC2C2;  */
/* padding: 0; */
margin: 0;
/* text-align: center; 
color: white;  */
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 48px; 
  font-weight: bolder;
  font-stretch: ultra-condensed;
  margin: 0px;
}

#delicious {
  font-family: 'Yellowtail', cursive;
  color: black;
  font-size: 32px;
  vertical-align: text-top;
  margin: 0;
}

#best-food-blog,  #post-date, #print-icon {
  font-family: 'Roboto Condensed', sans-serif;
  color: grey;
  text-transform: uppercase;
}

#print-icon {
  font-variant-caps: all-small-caps;
  font-size: 16px;
  padding-top: 85px;
  padding-left: 65px;
}

#post-date {
  font-size: 12px;
}
#best-food-blog {
  font-size: 10px;
  float: right;
  padding-right: 40px;
  padding-bottom: 10px;
}

#icons {
  padding-top: 20px;
  float: left;
}

.directions {
  color: grey;
  text-indent: 24px;
  text-align: left;
  padding: 12px;
}

#ingredients-list {
  font-family: 'Sunshiney', cursive;
  color: grey;
  font-size: 20px;
}

#choco-pizza {
  padding-top: 40px;
}

.hashed-line {
  background-image: url("assets/hashed-border-line.png");
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: left left;
}

.notepaper {
  background-image: url("assets/list-bg.png");
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: left left;
  border-top: 2px grey;
}

ul {
  list-style-image: url("assets/rounded-checkbox.png");
}

.checked {
  list-style-image: url("assets/rounded-checkbox-checked.png");
  text-decoration: line-through;
}


