
.grid-container{
  width: 100%; 
  max-width: 960px;      
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='col-'] {
  float: left; 
  min-height: 1px; 
  width: 16.66%; 
  /*-- our gutter -- */
  padding: 6px; 
  background-color: #FFDCDC;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

.outline, .outline *{
  outline: 1px solid #F6A1A1; 
}

/*-- some extra column content styling --*/
[class*='col-'] > p {
background-color: #FFC2C2; 
padding: 0;
margin: 0;
text-align: center; 
color: white; 
}

#logo {
  /* margin: 0; */
}
#delicious {
  font-family: 'Yellowtail', cursive;
  color: black;
  font-size: 36px;
  vertical-align: text-top;
  /* padding: 2px; */
  margin: 0;
}

#best-food-blog {
  font-family: 'Roboto Condensed', sans-serif;
  color: grey;
  text-transform: uppercase;
  font-variant-caps: all-small-caps;
  font-size: 16px;
}
#icons {
  float: left;
  margin-left: 600px;
}